<div class="general d-flex justify-content-center">
    <div class="liste d-flex flex-column justify-content-md-between align-items-center">
        <div class="d-flex flex-row">
            <input type="file" accept=".xlsx, .xlsb" (change)="readAndSortExcel($event)" class="import">
            <button class="btns" [disabled]="isButtonDisabled" (click)="computeTotalItems()">
                Total produits
            </button>
        </div>
        <div class="d-flex flex-row" cdkDropListGroup>
            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="d-flex justify-content-around titre">
                    <div>Tournée n°1</div>
                    <button class="btns" [disabled]="isButtonDisabled" (click)="imprimer(1)">
                        Imprimer
                    </button>
                </div>
                
                <div class="example-box" *ngFor="let client of clients" cdkDrag>
                    {{clients_nom_map.get(client)}}
                    <div class="containerIcon w-25">
                            <div class="svgContainer red" (click)="deleteClient(client)">
                                <svg class="red" xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>                     
                            </div>
                        <div class="svgContainer" (click)="developperFacture(client)">
                            <svg class="gray" xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
                        </div>
                    </div>
                </div>
            </div>
            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="d-flex justify-content-around titre">
                    <div>Tournée n°2</div>
                    <button class="btns" [disabled]="isButtonDisabled" (click)="imprimer(2)">
                        Imprimer
                    </button>
                </div>
                <div class="example-box"  *ngFor="let client of tournee1" cdkDrag>
                    {{clients_nom_map.get(client)}}
                    <div class="containerIcon w-25">
                        <div class="svgContainer red" (click)="deleteClient(client)">
                            <svg class="red" xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                        </div>
                        <div class="svgContainer" (click)="developperFacture(client)">
                            <svg class="gray" xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
                        </div>   
                    </div>                          
                </div>
            </div>
            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="d-flex justify-content-around titre">
                    <div>Tournée n°3</div>
                    <button class="btns" [disabled]="isButtonDisabled" (click)="imprimer(3)">
                        Imprimer
                    </button>
                </div>
                <div class="example-box" *ngFor="let client of tournee2" cdkDrag>
                    {{clients_nom_map.get(client)}}
                    <div class="containerIcon w-25">
                        <div class="svgContainer red" (click)="deleteClient(client)">
                            <svg class="red" xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                        </div>
                        <div class="svgContainer" (click)="developperFacture(client)">
                            <svg class="gray" xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            

        <div class="d-flex justify-content-center">
            <button class ="btn btn-danger" (click)="reset()">
                Reset
            </button>
        </div>
    </div>
</div>
<p-messages class="custom-message"></p-messages>
<p-dialog header="Détail facture" [(visible)]="visible" [style]="{width: '50vw'}">
    <div [innerHTML]="stringAffichage"></div>
</p-dialog>
<p-confirmDialog [style]="{width: '40vw'}"></p-confirmDialog>